html{
    background-color: rgb(31, 8, 49);
}
.container{
    background: rgb(255, 255, 255);
    margin: 50px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: [header-start]100px[header-end] 60px 150px 400px 150px 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: "header header header"
                        "menu menu menu"
                        "a1 a2 aside"
                        "a3 a3 aside"
                        "a4 a5 a5"
                        "footer footer footer";
                        /*   use .dot for space index*/


}

.header{
    background: red;
    border-radius: 15px;
    grid-area: header;
}
.menu{
    background-color: blue;
    opacity: .6;
    color: white;
    border-radius: 15px;
    grid-area:menu;
}
.a1{
    background: pink;
    border-radius: 15px;
    grid-area:a1;
}
.a2{
    background: pink;
    border-radius: 15px;
    grid-area:a2;

}
.aside{
    background: green;
    opacity: .6;
    border-radius: 15px;
    grid-area:aside;
}
.a3{
   background: orange;
    border-radius: 15px;
    grid-area:a3;
   
}
.a4{
    background: blue;
    border-radius: 15px;
    grid-area:a4;
}
.a5{
    background: yellow;
    border-radius: 15px;
    grid-area:a5;
}
.footer{
    background: black;
    color: white;
    border-radius: 15px;
    grid-area:footer;
}